.focused-task {
    display: flex;
    align-items: center;
    background-color: rgb(37, 37, 37);
    width: 100%;
    border-radius: 6px;
    padding: 0 0.5rem;
    height: 100%;
    justify-content: space-between;
    font-family: "Inter", system-ui;
    font-size: 16px;
    font-weight: 400;
    -webkit-app-region: no-drag;
    box-sizing: border-box;
}

.focused-task *{
    user-select: none;
}
.focused-task button {
    color: #808080;
}