.task-area {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: 90%;
    padding: 0;
}

.task-area button {
    margin: 0.5rem 0;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 7px;
    gap: 3px;
    background-color: rgba(64, 64, 64, 0.2);
    color: #808080;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
}

.subtasks button{
    background-color: transparent;
    padding: 0;
    height: fit-content;
    margin:0;
}
.add-task-box{
    display: flex;
    flex-direction: column;
    padding:10px;
    border-radius:2px;
    background-color: rgba(64, 64, 64, 0.2);
}

.add-task-box input{
    background-color: rgba(64,64,64,0.2);
    color: rgb(200,200,200);
    border-radius: 4px;
    border: 2px solid rgba(0,128,0,0.5);
    outline: none;
    font-size: 14px;
    font-weight: 200;
    padding:6px 12px;
}
