.task-area {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: 90%;
    padding: 0;
}

.task-area button {
    margin: 0.5rem 0;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 7px;
    gap: 3px;
    background-color: rgba(64, 64, 64, 0.2);
    color: #808080;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
}

.task-area-divider {
    height: 3px;
    margin: 0.6rem 0;
    border-radius: 4px;
    width: 100%;
    background: rgb(47, 47, 47);
}

.taskcard button {
    height: fit-content;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.completed-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
}
.completed-info span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", system-ui;
    font-size: 18px;
    font-weight: 400;
    color: rgba(104, 104, 104);
}
