.modal-overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: #111;
  width: 300px;
  /* height: 320px; */
  padding: 28px;
  border-radius: 16px;
  border: 1px solid #2a2a2a;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}

.modal h2 {
  text-align: center;
  font-weight: 600;
  color: white;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  color: #777;
  cursor: pointer;
}

.modal-close:hover {
  color: white;
}

.icon-preview {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 600;
  color: white;
}

.color-row {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.color-dot {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.color-dot.selected {
  border-color: white;
}

.list-input {
  background: #1c1c1c;
  border: 1px solid #2a2a2a;
  padding: 10px 12px;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  outline: none;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.cancel-btn {
  flex: 1;
  background: transparent;
  border: 1px solid #555;
  padding: 10px;
  border-radius: 999px;
  color: white;
  cursor: pointer;
}

.create-btn {
  flex: 1;
  border: none;
  border-radius: 999px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  background: linear-gradient(90deg, #4ade80, #60a5fa);
  color: black;
}