.listview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.listview .tasklists{
    display: flex;
    width: 100%;
    gap: 16px;
    flex: 1;
}