.listcard {
  background: linear-gradient(180deg, #232323 0%, #1c1c1c 100%);
  border-radius: 14px;
  border: 1px solid #2a2a2a;
  padding: 18px 14px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.2s ease;
  cursor: pointer;
}

.listcard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  font-family: "Inter", system-ui;
  font-weight: 600;
  margin-bottom: 2px;
}

.listcard-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list-badge {
  width: 26px;
  height: 26px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 700;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-name {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
}

.menu-icon {
  color: #777;
  cursor: pointer;
}

.menu-icon:hover {
  color: white;
}

.listcard-body {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task-preview {
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.03);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #d6d6d6;
  font-family: "Inter", system-ui;
}

.listcard-footer {
  margin-top: auto;
  font-size: 12px;
  color: #7a7a7a;
}


.create-list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #808080;
  font-size: 18px;
  font-weight: 700;
  font-family: "Inter", system-ui;
  gap: 6px;
}

span {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}