@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: transparent;
  overflow: hidden;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  -webkit-app-region: drag;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  -webkit-app-region: no-drag;
}

input {
  -webkit-app-region: no-drag;
}

span,
button {
  user-select: none;
  cursor: default;
}

#root {
  margin: 0 auto;
  height: 90%;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #2ecc71;
  box-shadow: 0 0 0 1px #2ecc71 inset,
    0 0 12px rgba(46, 204, 113, 0.35);
  color: white
}

.App {
  height: 100%;
  width: 88%;
  padding: 0 6%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

::-webkit-scrollbar {
  display: none;
}