@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: transparent;
  overflow: hidden;
  height: 100vh;
  padding: 0;
  -webkit-app-region: drag;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  -webkit-app-region: no-drag;
}

input{
  -webkit-app-region: no-drag;
}
span {
  user-select: none;
  cursor: default;
}

#root {
  margin: 0 auto;
  padding: 0px;
  height: 90%;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgb(22, 22, 22);
  border: 3px solid green;
  color: white
}

.App {
  height: 100%;
  width: 88%;
  padding: 0 6%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}